@basecolor:rgb(96, 21, 131);
#borrowRight{
    padding:20px;
    .borrow-content{
        padding-bottom:60px;
        text-align: center;
        border: 1px solid @basecolor;
        border-radius:0 60px 0 60px;
        .creditItem{
            height: 50px;
            border-radius:0 60px 0 60px;
            background-color: rgb(171, 86, 204);
            color: #fff;
            line-height: 50px;
        }
        .max-money{
           font-weight: 600;
        }
        .files{
            padding-left: 30%;
            li{
                text-align: left;
            }
        }
    }
    .borrow-type{
        margin-top:-18px;
    }
}
