

.margin{
    margin-left:300px;
}

.media__box{
    h4{
        font-weight:600;
    }
    .box__ul{
        li{
            line-height:40px;
            
            margin-bottom:10px;
            img{
                width:50px;
            }
            span{
                color:#CCC;
                margin:0 80px 0 15px ;
            }
            em{
                float:right;
                line-height:40px;
            }
        }
    }
}