@baseColor:#5b337b;
.userReg{
    width:100%;
    li{
        width: 100%;
        padding: 30px 15px 0;
        height: 80px;
        overflow: hidden;
        margin-bottom: 20px;
        background-color: #fff;
        color: @baseColor;
        font-size: 20px;
        cursor: pointer;
        .RefIcon{
            display: block;
            background: url(../../images/icons.png);
        }
        .Regicon01{
            background-position: -65px 0;
            width: 20px;
            height: 20px;
            margin-top: 5px;
        }
        .Regicon02{
            background-position: -84px 0;
            width: 26px;
            height: 26px;
        }
        .useinfo{
            padding-top:20px;
            color: #666;
            font-size: 16px;
        }
    }
}
